html, body {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0;
    padding: 0;
    height: 100%;

}

img {
    max-width: 100%;
}

.jumbotron {
    background: url(../images/office.jpg) center center no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card .card-body {
    background: rgba(54, 24, 24, 0.493);
    color: white;
    padding: 1.875rem;
    height: 50%;    
}
span i {
    font-size: 3.5rem;
}

form {
    margin-top: 71px;
}